<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="homepagestyle.css">
</head>
<body>
   
     <header>
            <img class="logo" src="/img/logo.png"  height="50px" width="50px" alt="Logo">
                <div style="display: flex; gap:3px ">
               <div class="dashboard" >
                <a href="/dashboard" class="user" style="text-align: center; font-size:10px; cursor: pointer; color: black; width: 100px; height: 50px; display: block; line-height: 50px; text-decoration: none; margin: 0 auto;">Hi {{userData.name}}!</a>  
              </div>
              <div class="dashboard" >
                <a href="/logout" class="user" style="text-align: center; cursor: pointer; color: black; width: 100px; height: 50px; display: block; line-height: 50px; text-decoration: none; margin: 0 auto;">Logout</a>  
              </div>
              </div>
    </header>
   <main>
    
    <div class="main-right">
         <h1  style="color: white; font-size:60px">Find Players Nearby</h1>
       
        <a href="/players"><button class="find-btn" >Explore Players</button></a>
        <a href="/room"><button class="find-btn" >Your Room</button></a>
    </div>
   </main>
  
  
    <script src="script.js"></script>
</body>
</html>