<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="chat.css" />
  </head>
  <body>
 

    <div class="container">
      <div class="box"></div>
      <div class="field">
        <input
          type="text"
          class="mess"
          id="mess"
          placeholder="Write Messages"
        />
        <button type="button" class="send" id="send">Send</button>
      </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
  const socket = io(); 
  const box = document.querySelector('.box'); 
  const send = document.getElementById('send');
  const input = document.getElementById('mess');

   socket.on('chatid',(id)=>{
    localStorage.setItem('id',id);
   
 })

let id; // Define id in the outer scope

function setIdInLocalStorage() {
    id = localStorage.getItem('id'); // Update id in the outer scope
}

const intervalId = setInterval(function() {
    setIdInLocalStorage();
}, 1000);

// Now you can access the updated id variable outside the function
console.log(id);
////////////////////
// Read cookies

///////

  send.addEventListener('click', (e) => {
    e.preventDefault(); 
    const message = input.value.trim();
    if (message !== '') {
      socket.emit('user-message', message,id);
      input.value = '';
    }else{
         alert('empty message')
    }
  });


  socket.on('server-message', (msg) => {
    append(msg, 'server'); 
    
  
  });

  socket.on('user-message', (msg) => {
    append(msg, 'user'); 
     console.log("user")
      
  });

  function append(msg, type) {
    const p = document.createElement('p');
    p.innerText = msg;
    p.classList.add(type);
    box.appendChild(p);
    const audio = new Audio('./sound/not.mp3');

audio.play();
  }



if (window.location.pathname === '/room') {

  window.addEventListener('beforeunload', () => {
    socket.emit('disconnect');
  });
}

document.addEventListener("DOMContentLoaded", function() {
   socket.emit('room',()=>{

   })
});


</script>

  </body>
</html>